<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Call us</title>
</head>
<body>
    <h1>Call us</h1>
    {% if errors %}
        <ul>
            {% for i in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="/contact/" method="post">
        <p>Theme: <input type="text" name="subj"></p>
        <p>U'r email: <input type="text" name="e-mail"></p>
        <p>Message:
            <textarea name="message" rows="10" cols="50"></textarea>
        </p>
        <input type="submit" value="Sent">
    </form>
</body>
</html>